@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
  
  --color-qb-peach: #F9CD9C;
  --color-qb-white: #FFFFFF;
  --color-qb-orange: #EF8B19;
  --color-qb-brown: #9A5302;
  --color-qb-text: #1A1A1A;
}
